

*{
  margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

.first-section{
  background:none;
    background-image: url("main-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150vh;
  }

  nav{
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
  }

.col-3{
    font-size: 25px;
    font-family: 'Times New Roman';
}
  .content{
    font-size: 35px;
    padding-top: 30%;
    text-decoration: none;
    font-family: 'Arial';
    color: black;
  }

  .secondpraf{
    color: black;
    padding-top: 30px;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Times New Roman';
  }

  .the-story-scroll-down{
text-align: center;
justify-content: center;
  }


  .button-play-now{
    border: 0px;
    transition: 0.5s;
    margin-top: 2rem;
    background: #FF9551;
    border-radius: 6px;
    color:black;
    font-size: 16px;
    padding:1rem;
    width: 30%;
    text-align: center;
    text-decoration: none;
  }

  .button-play-now:hover{
    background-color: #D36B00;
    transition: 0.5s;
  }

  @keyframes bounce-2 {
    0% {transform: translateY(0);}
    50% {transform: translateY(-25px);}
    100% {transform: translateY(0);}
  }

  #the-story{
    color: white;
    text-align: center;
    padding-top: 250%;
  }


  .second-section {
    background-image: url("the-games-bg.jpg");
    height: 150vh;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

h2{
  font-family: 'Open Sans';
    font-size: 54px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    text-align: left;
    font-kerning: normal;
}

h5{
  font-family: 'Open Sans';
    font-size: 20px;
    color: white;
    text-transform: none;
    text-align: left;
    font-kerning: normal;
}


.third-section {
  background-image: url(features.jpg);
  height: 150vh;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.container-firstrow {
  margin-left: 2rem;
  color: white;
}

.v1 {
  border-left: solid 1px white;
  position: absolute;
  margin-top: 15px;
  margin-left: 40px;
}

.container-secondrow {
  display: flex;
  margin-left: 2rem;
  padding-bottom: 3rem;
  color: white;
}

.box-ellipse {
  margin-top: 10px;
}

.box-menu {
  margin-left: 2rem;
}


.fourth-section {
  background-image: url(requirements.png);
  height: 150vh;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.row-fourthsection-2 {
  margin-bottom: 6rem;
}

.body {
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight:bold;
  color: orange;
  text-transform: capitalize;
  text-align: left;
  font-kerning: normal;
  margin-bottom: auto;
}

.subtext {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight:normal;
  color: white;
  text-transform: none;
  text-align: left;
  font-kerning: normal;
  margin-bottom: auto;
}

.col-fourthsection-left-1 {
  margin-left: 8rem;
}


.fifth-section {
  background-image: url("top-score-bg.png");
  height: 150vh;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.container-fifthsection-left {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  margin-top: 16rem;
}

.button-see-more {
  margin-top: 2rem;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  border-color: #F3AF34;
  color:black;
  font-size: 16px;
  padding:1rem;
  width: 40%;
  text-align: center;
  text-decoration: none;
}

p {
  font-family: 'Open Sans';
}

.container-fifthsection-right {
  width: auto;
  position: relative;
  padding: 20px;
}

.profile-picture{
  width: 10%;
}

.box-card {
  background-color: rgba(250, 250, 250, 0.1);
  width: 26rem;
  height: 13rem;
  margin-top: 2rem;
  color: white;
}

.card-1 {
  margin-left: 10rem;
}

.card-3 {
  margin-left: 7rem;
}

.profile-picture img{
  border-radius: 50%;
  margin: 6px;
  position: absolute;
}

.ellipse {
  margin-top: 12px;
  margin-left: 12px;
  position: absolute;
}

.username {
  font-size: 24px;
  color: orange;
  margin-left: 100px;
  margin-top: 12px;
  position: absolute;
}

.job {
  font-size: 18px;
  color: gray;
  margin-left: 100px;
  margin-top: 40px;
  position: absolute;
}

.logo {
  margin-right: 14px;
  margin-top: 14px;
  float: right;
}

.commentary{
  font-size: 18px;
  color: white;
  margin-left: 12px;
  margin-top: 100px;
  position: absolute;
}

.date {
  font-size: 18px;
  color: white;
  margin-left: 12px;
  margin-top: 160px;
  position: absolute;
  opacity: 50%;
}

